<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <script type="text/javascript">
  newInteraction = newrelic.interaction().save()
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
   newInteraction.end();
   </script>
<% end %>

